body {
    background: #4aaaa5;
    background-image: url("../image/background.jpg");
}

.wrapper {
    font-family: 'Nosifer', monospace;
    color: black;
    position: relative;
    top: 40px;
    background: #ffffff;
    margin: 80px auto;
    width: 960px;
    min-height: 500px;
    padding: 20px 10px;
}
h2 {
    font-family:'Nosifer', monospace;
    color: black;
}
.one  {
    position: absolute;
    top:45px;
    right:16%;
    text-align: right;
}
a {
    color:#2c1313;
    text-decoration: none;
}
.fixed {
    position: fixed;
    min-height: 80px;
    background-color: whitesmoke;
    top: 0px;
    left: 0;
    width: 100%;
}
.floating {
    margin-top: 10px;
    float: left;
    margin-right: 20px;
    width:400px;
    height:300px;
}
.footer {
    border-top-style: solid;
    border-top-color: #4aaaa5;
    padding-top: 60px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:whitesmoke;
    color: #2c1313;
    text-align: center;
    min-height: 40px;
}
#one {
    position: absolute;
    right: 70%;
    background-color:#2c1313;
    width: 200px;
    color: #ffffff;
    text-align: center;
}

/* Contact */

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    background-color:#ffffff;;
    padding: 20px;
}
.footer1 {
    border-top-style: solid;
    border-top-color: #4aaaa5;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:whitesmoke;
    color: #2c1313;
    text-align: center;
    min-height: 10px;
}

* {
    box-sizing: border-box;
}

/* Portfolio */

.floating1 {
    float: left;
}
.b1 {
    position: relative;
    margin: 10px;
    float: left;
}
.img1 {
    margin: 10px;
    height: 200px;
    width: 200px;
}
.img2 {
    margin: 10px;
    height: 200px;
    width: 200px;
}
.img3 {
    margin: 10px;
    height: 200px;
    width: 200px;
}
.img4 {
    margin: 10px;
    height: 200px;
    width: 200px;
}
.img5 {
    margin: 10px;
    height: 200px;
    width: 200px;
}
h8 {
    padding: 10px;
    position: absolute;
    bottom: 20px;
    background-color: #2c1313;
    opacity: 0.6;
    height: 40px;
    width:200px;
    color: #ffffff;
    text-align: center;
}
.b4 {
    position: relative;
    margin: 10px;
    float: left;
}
.clearfix:before,
.clearfix:after {
content: " ";
display: table;
}

.clearfix:after {
clear: both;
}


.clearfix {
*zoom: 1;
}